<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="dishes">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
        <img height="200px" src={{dish.image}} alt={{dish.name}}>
        <mat-grid-tile-footer>
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="dishes">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  <!-- we will be removing as we dont want to disply the contecnt below rather we
    will be displaying the content when clicked on the same area with a differnet view-- apart from this we
    also replca the above (click)="onSelect(dish) whcih was present in *ngFor and bring in router concepts with [routerLink]
  <app-dishdetail [dish]="selectedDish"></app-dishdetail>
  -->
  
</div>